<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management Personal Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Welcome to the Management Personal Page! </h1>

<div class="form">

    <div class="/course_list">
        <a href="/course_list">Select which courses you want HERE</a>
    </div>

    <div class="/logout">
        <a href="/">Click here if you wish to log out</a>
    </div>


</body>
</html>