<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>STUDENTS: Management Actions</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>What action would you like to take with the students? </span></h1>

<div class="form">

    <div class="/add_student">
        <a href="/add_course"">Add a new student to a course</a>
    </div>

    <div class="/delete_student">
        <a href="/delete_course">Delete an existing student</a>
    </div>

    <div class="/update_student">
        <a href="/update_course">Update the data for an existing student</a>
    </div>

    <div class="/logout">
        <a href="/">Click here if you wish to log out</a>
    </div>

</body>
</html>